html {
	font-size: 16px;
}

body {
	padding: 0;
	margin: 0;
	background-color: rgb(35, 141, 35);
}

/*********** OVERLAY ***********/
.overlay {
	position: absolute;
	background-color: lightblue;
  display: flex;
  justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	z-index: 10;
	
}

.start-button {
	width: 15rem;
	height: 5rem;
	font-size: 2rem;
	border-radius: 10px;
	background-color: darkblue;
	color: lightgray
}

/*********** GAME ***********/

.table {
	display: flex;
	flex: row wrap;
	/* width: 100vw; */
  justify-content: center;
	align-items: center;
	padding-top: 6rem;
}

.cards {
	font-family: 'Charm', cursive;
	font-size: 1.5rem;
	width: 10rem;
	height: 13rem;
	border-radius: 10px;
	margin: 1rem;
	display: flex;
  justify-content: center;
  align-items: center;
}

.back {
	color: white;
	background-color: rgb(52, 140, 190);
	border: 1px solid white;
}

.front {
	color: rgb(52, 140, 190);
	background-color: white;
	border: 1px solid white;
}

.hide {
	opacity: 0;
}

.jsShowPile {


}

/*********** CONTROLS ***********/
.controls {
	margin-top: 3rem;
	display: flex;
	justify-content: center;
}

.flip-card {
	width: 10rem;
	height: 3rem;
	font-size: 1.5rem;
	border-radius: 10px;
	background-color: white;
	color: rgb(52, 140, 190);
}